BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 80

PointerAlignment: Right
DerivePointerAlignment: false

SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
AlignTrailingComments: true

IndentCaseLabels: true
